* {
  box-sizing: border-box;
}



.deck {
list-style:none;
/*background-color: purple; */
background: linear-gradient(170deg, rgb(212, 22, 22), rgb(0, 0, 77));
width: 450px;
height: 450px;
border-radius: 20px; 
margin: 0 auto;
padding:5px;
box-shadow: 10px 10px 20px 0px grey ;
}
.card {
width: 100px;
height:100px;
background-color: blue;
margin:5px;
text-align: center;
font-size: 0;
float: left;
border-radius: 10px;
cursor: pointer;
padding-top: 1em;
}
.flip{
cursor: default;
background-color:pink;
font-size: 2em;
transform:rotateY(0);

.match { 
  background-color: blue;
  font-size: 2em;
  cursor: default;
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ukzll');
  src:  url('fonts/icomoon.eot?4ukzll#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4ukzll') format('truetype'),
    url('fonts/icomoon.woff?4ukzll') format('woff'),
    url('fonts/icomoon.svg?4ukzll#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-droplet:before {
  content: "\e90b";
}
.icon-compass:before {
  content: "\e949";
}
.icon-bug:before {
  content: "\e999";
}
.icon-crying2:before {
  content: "\ea02";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-appleinc:before {
  content: "\eabe";
}
